@import url(/assets/fonts/font-face.css);

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: IRANSans, Vazir, sans-serif;
  font-weight: 400;
  color: #12141f;
  margin: 0;
  overflow-x: hidden;
}


.bg-dark--1{
  background-color: #181a29;
}
.bg-dark--2 {
  background-color: #1f212d;
}
.font-size--1{
  font-size:90%
}